.view {
	min-height: 1000px;
	width: 100%;
	background-color: rgba(35, 35, 35, 0.8);
	padding: calc(2 * var(--elastic));
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.9), 5px 5px 5px rgba(0, 0, 0, 0.9),
		-5px 5px 5px rgba(0, 0, 0, 0.9);
	margin-top: 30px;
}
.view__post {
	padding: 20px;
	margin-bottom: 10px;
	border: 3px solid var(--impressive-green);
	border-radius: 10px;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	align-items: center;
	justify-content: center;
}
.view__post__info {
	display: flex;
	align-items: center;
}
.view__post__info span:nth-child(1) {
	width: 50%;
	color: #37ff00;
}
.view__post__info span:nth-child(2) {
	font-size: 3rem;
	color: #fff;
	width: 50%;
	font-weight: 400;
}
